
* {
	box-sizing: border-box; 
}

html, body {
	background: black;
	font-family: Helvetica, Arial, sans-serif;
	padding-top: 36px;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	font-size: 2rem;
	padding: 20px;
	text-align: left;
	background: rgba(255, 255, 255, 0.8);
	z-index: 1000;
}

.gallery {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0;
}

.gallery-item {
	position: relative;
	width: 400px;
	height: 400px;
	display: inline-block;
	font-size: 1rem;
	background: white;
	overflow: hidden;
}

.gallery-item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: 0.5s;
}

.gallery-item p {
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	transition: 0.5s;
}

#item-1:hover img {
	transform: translateX(100%);
}

#item-2:hover img {
	/*transform: scale(1.5) translateX(100%);*/
	transform: scale(1.5);
	opacity: 0;
}

#item-3:hover img {
	transform: translate(80%, 80%) rotate(45deg);
}

#item-4:hover img {
	transform: skew(0deg, -30deg) translateY(130%);
}